---
import Layout from '../layouts/Layout.astro';

import { hello } from '../lib/holamundo.ts';

import '../styles/styles.css';

console.log(hello('agustin'));
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='text-center text-8xl text-purple-400'>Hola mundo</h1>
  </main>
</Layout>
