---

---

<div class='fixed z-40 flex w-full items-center justify-between p-2'>
  <h1>Logo</h1>
  <ul class='flex gap-4 text-white'>
    <li><a href='/'>Home</a></li>
    <li><a href='/movies/'>Movies</a></li>
    <li><a href='/series/'>Tv Series</a></li>
  </ul>

  <div class='flex gap-3'>
    <input
      class='rounded-full border border-gray-300 p-2 px-4 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500'
      placeholder='Search'
      type='search'
      id='site-search'
      name='q'
      aria-label='Search through site content'
    />
    <img
      src='https://i.pravatar.cc/50?img=3'
      alt='Avatar'
      class='rounded-full'
    />
  </div>
</div>
